@model IEnumerable<Cliente>
@{
    ViewData["Title"] = "Lista de Clientes";
}

<h1>Lista de clientes registrados</h1>


<form  asp-action="Index" method="get">

    <input type="text" id="dni" name="dni" class="form-control" placeholder="Ingrese DNI del cliente"></input>
    <button type="submit" class="btn btn-primary">Buscar</button>

</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Fecha de Nacimiento</th>
            <th>Calle</th>
            <th>Altura</th>
            <th>Telefono</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.Nombre</td>
                <td>@client.Apellido</td>
                <td>@client.Dni</td>
                <td>@client.fechaNacimiento.ToString("dd/MM/yyyy")</td>
                <td>@client.Calle</td>
                <td>@client.Altura</td>
                <td>@client.Telefono</td>


            </tr>
        }
    </tbody>
</table>
